APP_LOGGING_LEVEL=INFO

APP_SESSION_ID_EXPIRATION_SECONDS=500

APP_FILE_STORAGE=LOCAL_FILES

APP_HTTP_CLIENT=HTTPX

APP_DOCUMENT_DESIRED_TOKENS_LENGTH=300

GC_STORAGE_CREDENTIALS=
GC_PRIVATE_COLLECTION=
GC_PUBLIC_COLLECTION=

RELATIONAL_DB_DRIVER=postgresql+asyncpg
RELATIONAL_DB_USER=postgres
RELATIONAL_DB_PASSWORD=postgres
RELATIONAL_DB_HOST=localhost
RELATIONAL_DB_PORT=5432
RELATIONAL_DB_NAME=postgres
RELATIONAL_DB_POOL_SIZE=50
RELATIONAL_DB_MAX_OVERFLOW=20
RELATIONAL_DB_POOL_TIMEOUT=30
RELATIONAL_DB_POOL_RECYCLE=5

HTTPX_TIMEOUT=30
HTTPX_MAX_CONNECTIONS=20
HTTPX_MAX_KEEP_ALIVE_CONNECTIONS=5

TEXT_TRANSFORMATOR_URL=http://localhost:8080
TEXT_TRANSFORMATOR_MAX_TOKENS=2048
TEXT_TRANSFORMATOR_MAX_TITLE_TOKENS_OVERHEAD=16