<!doctype html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}PRAWOBIORCA{% endblock %}</title>
  </head>
  <body>
    <header>
      <h1>PRAWOBIORCA</h1>
    </header>

    <main>
      {% block content %}{% endblock %}
    </main>

    <footer>
      <p>Prawobiorca jest aplikacją tworzoną przez studentów koła naukowego wms-dev. Jej celem jest pomóc studentom w korzystaniu z ich praw.</p>
    </footer>
  </body>
</html>
