{% extends "base.html" %}
{% from "macros.html" import auth_button, show_error %}

{% block title %}Strona startowa - PRAWOBIORCA{% endblock %}

{% block content %}
    {{ auth_button(is_user_logged) }}

    {{ show_error(error_message) }}

    <h2>Pliki publiczne</h2>

    {% if public_files %}
      <ul>
        {% for name in public_files %}
          <li>
            {{ name }}
            <form action="/files/search" method="get" style="display: inline;">
              <input type="hidden" name="filename" value="{{ name }}" />
              <button type="submit">Przeszukaj</button>
            </form>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Brak plików.</p>
    {% endif %}

  <hr />

  {% if is_user_logged %}

    <h2>Pliki użytkownika</h2>

    {% if user_files %}
      <ul>
        {% for name in user_files %}
          <li>
            {{ name }}
            <form action="/files/search" method="get" style="display: inline;">
              <input type="hidden" name="filename" value="{{ name }}" />
              <button type="submit">Przeszukaj</button>
            </form>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Brak plików.</p>
    {% endif %}

    <h2>Dodaj plik</h2>
    <form method="post" action="/user/files" enctype="multipart/form-data">
      <input type="file" name="file" />
      <button type="submit">Wyślij</button>
    </form>

    <hr />

    <h2>Moje sprawy</h2>
    {% if cases %}
      <ul>
        {% for case in cases %}
          <li>{{ case.name }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Brak spraw.</p>
    {% endif %}

    <form action="/user/cases" method="post">
      <div>
          <label for="case_name">Nazwa sprawy:</label>
          <input type="text" id="case_name" name="case_name" required>
      </div>

      <button type="submit">Utwórz sprawę</button>
    </form>

  {% endif %}
{% endblock %}
