{% extends 'base.html' %}
{% from 'macros.html' import show_error %}

{% block title %}
  Rejestracja - PRAWOBIORCA
{% endblock %}

{% block content %}
  <h2>Rejestracja</h2>

  {{ show_error(error_message) }}

  <form action="/api/accounts/register" method="post">
    <div class="mb-3">
      <label for="username" class="form-label">Nazwa użytkownika:</label>
      <input type="text" id="username" class="form-control w-25" name="username" required />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Hasło:</label>
      <input type="password" class="form-control w-25" id="password" name="password" required />
    </div>

    <button type="submit" class="btn btn-primary">Zarejestruj</button>
  </form>

  <p>
    <a href="/api/auth/login">Masz już konto? Zaloguj się</a>
  </p>
{% endblock %}
