{% extends 'base.html' %}
{% from 'macros.html' import show_error, show_info %}

{% block title %}
  Przeszukiwanie: {{ filename }}
{% endblock %}

{% block content %}
  {{ show_error(error_message) }}
  {{ show_info(info_message) }}

  <p>
    <a href="/">← Powrót do głównego ekranu</a>
  </p>

  {% if is_user_logged %}
    <div class="dropdown mb-3">
      <label for="dropdown-button" class="form-label">Bieżąca sprawa:</label>
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-button" data-bs-toggle="dropdown" aria-expanded="false">-- Wybierz z listy --</button>
      <ul class="dropdown-menu" aria-labelledby="dropdown-button">
        {% for case in cases %}
          <li>
            <a class="dropdown-item" href="#" data-case-id="{{ case.id }}">{{ case.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <h1>Przeszukaj plik: {{ filename }}</h1>

  <form id="search_form" method="post" class="mb-4">
    <label for="query">Twoje zapytanie:</label>
    <input type="text" id="query" name="query" placeholder="Wpisz treść..." value="{{ query }}" required />
    <input type="hidden" name="fileHashStr" value="{{ file_hash_str }}" />
    <input type="hidden" name="filename" value="{{ filename }}" />
    <button type="submit" class="btn btn-primary">Przeszukaj</button>
  </form>

  {% if results %}
    <hr />
    <h2>Wyniki:</h2>
    <ul class="list-group">
      {% for result in results %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div>{{ result }}</div>
          {% if is_user_logged %}
          <form action="/user/cases/articles" method="post" class="ms-3 d-inline">
            <input type="hidden" name="case_id" class="selected-case-id" value="">
            <input type="hidden" name="document_name" value="{{ filename }}">
            <input type="hidden" name="article_content" value="{{ result }}">
            <button type="submit" class="btn btn-sm btn-success btn-on-list" disabled>Dodaj do sprawy</button>
          </form>
  {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% elif query %}
    <hr />
    <p>Brak wyników dla zapytania: "{{ query }}"</p>
  {% endif %}
{% endblock %}

{% block javascript %}
  <script src="{{ url_for('static', path='js/dropdown.js') }}" defer></script>
{% endblock %}
